[Unit]
Description=LCD Display service
Requires=network-online.target dev-i2c\x2d1.device
After=network-online.target dev-i2c\x2d1.device

[Service]
ExecStart=/home/magoodwin/dev/magoodwin-infra/lcd-display/C/display
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
